
.game-container {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: #151515;
    overflow: hidden;
}

.game-container canvas {
    image-rendering: pixelated;
    transform: scale(2.5);
    transform-origin: top;
    margin: 0 auto;
    position: relative;
    display: block;
}
