@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  FONTS   */
@font-face {
  font-family: 'OfficeCodePro-Regular';
  src: url('../fonts/OfficeCodePro-Regular.ttf');
}
@font-face {
  font-family: 'OfficeCodePro-Bold';
  src: url('../fonts/OfficeCodePro-Bold.ttf');
}
@font-face {
  font-family: 'TabacGlamG';
  src: url('../fonts/TabacGlamG4-Regular.otf');
}

html {
  scroll-behavior: smooth;
}

body{
    background: #111;
    font-family: 'OfficeCodePro-Regular';
    
    color: #d7d7d7;
}


.separator{
  height: 4px;
  background: url('../img/separador.png') repeat-x;
  margin: 0 auto;
} 

.back-to-top {
  cursor: pointer;
  position: fixed;
  right: 60px;
  bottom: 40px;
    width:60px;
    height:60px;
     border: none;
     font-size: 18px;
     font-family: inherit;
     background-blend-mode: multiply;
     color: $green;
     border-radius: 100px;
     background: linear-gradient(225deg, #181818, #2e2e2e);
     box-shadow: -1px 0px 5px #191919, 0px -1px 5px #292929;
     transition: box-shadow 0.5s;
    
    
    &:hover {
     background: #212121;
     box-shadow: -5px 5px 10px #191919,
                 5px -5px 10px #292929;
      span {
          opacity: 1;
      }
    }
    
    &:active {
     transition: box-shadow .1s ease;
     border-radius: 100px;
     background: #212121;
     box-shadow: inset -5px 5px 10px #191919,
                  inset 5px -5px 10px #292929;
    }
    
    span {
      opacity: 0.7;
      transition: opacity 0.2s ease;
     }
}

@media (max-width:1170px){
  .back-to-top{
    right: 12px;
    bottom: 15px;
  }
}