header{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    color: #d7d7d7;
    padding: 20px;

    p{
        margin-top: 20px;
        font-size: #{"min(4vw,1.12em)"};
        text-align: justify;
    }
    h1{
        font-weight: 400;
    }
    b{
        color: $green;
    }
    img{
        max-width: 40px;
        margin-left: 10px;
    }

    &:hover .hand{
        animation-name: slidein;
        animation-duration: 0.5s;
        animation-iteration-count: 2;
        animation-direction: alternate;
        transform-origin: 50 100;
    }

}

@keyframes slidein {
    0% {
        transform: rotate(0deg);
    }
  
    50% {
        transform: rotate(30deg);
    }

    100%{
        transform: rotate(0deg);
    }
  }
