.pr-element {
    margin: 10px;
    border: 2px solid #2C2C2F;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: 1s;
    align-items: center;
    cursor: default;
}

.pr-element:hover{
    border-color: #6d6d72;
    background: #0f0f0f;
}

.pr-image{
    height: 155px;
    width: 100%;
    background: #181818;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pr-info {
    width: 85%;
    padding-left: 10px;

    h2{
        font-size: 1.2em;
        font-weight: normal;
        margin: 10px 0;
    }

    p{
        margin: 10px 0;
        font-size: #{"min(4vw,1em)"};
    }
}

.pr-tags{
    line-height: 2em;
    padding-right: 5px;
}

.pr-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #2C2C2F;
    padding: 5px;

    .demo{
        padding: 5px;
        margin-right: 10px;
        border: 1px solid white;
    }

    .links{
        text-align: center;
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:490px){
    .pr-footer {
        flex-direction: column;
    }
}

.pr-element .pr-footer a{
    font-size: .7em;
}

.pr-element a{
    text-decoration: none;
    color: white;
}

.tag{
    background: #2c2c2c;
    padding: 0 4px;
    border-radius: 5px;
    font-size: 0.8em;
    opacity: .5;
    margin: 5px;
    display: inline-block;
    line-height: 1.8em;
}
.tag:hover{
    background: #404040;
    opacity: 1;
}


.tag.ht{
    background: #b72727;
}
.tag.cs{
    background: #2e49d1;
}
.tag.js{
    background: #c5a50c;
    color: black;
}
.tag.re{
    background: #61dafb;
    color: black;
}
.tag.nd{
    background: #83cd29;
    color: black;
}
.tag.sass{
    background: #d25191;
}


.tec{
    line-height: 2em;
    text-align: center;
    margin: 30px;

    h3{    
        font-size: #{"min(4vw,1em)"};
        text-align: center;
        font-weight: normal;
    }
}


.link{
    text-align: center;

    .icon-fondo{
        padding-left: 7px;
    }
    a{
        text-decoration: none;
        color:wheat;
    }
}
