#contacto-container .container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "OfficeCodePro-Regular";
}

#contacto-container h1 {
  font-style: normal;
  font-family: "OfficeCodePro-Regular";
  border: 0;
  margin-bottom: 10px;
  color: #dcdcde;
  
  background: -webkit-linear-gradient( #888888, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;

  transition: 1s;
}

#contacto-container h1:hover{
  transform: translateY(3px);
}

#contacto-container .separator {
  width: 100%;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.footer-contact .icon-fondo {
  background: #43ed83;
  padding: 5px;
  border-radius: 60px;
  height: 40px;
  width: 40px;
  color: #161616;
  line-height: 54px;
  transition: 1s;
  text-align: center;

  display: inline-block;
}

.footer-contact a {
  text-decoration: none;
  color: white;
  font-size: 10pt;
  letter-spacing: 1pt;
  margin-bottom: 10px;
  border-bottom: 1px solid #54565e;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
}

.footer-contact a:hover{
    background: #151515;
}

.footer-contact a:hover .icon-fondo {
  background: #33bbff;
  transform: rotate(20deg);
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

codersrank-activity {
  padding: 8px;
  border-radius: 8px;
  background: #161616;
  --bg-color-0: #111;
  --bg-color-1: rgba(67, 237, 131, 0.2);
  --bg-color-2: rgba(67, 237, 131, 0.6);
  --bg-color-3: rgba(67, 237, 131, 0.75);
  --bg-color-4: rgba(67, 237, 131, 1);
  --label-text-color: rgba(255, 255, 255, 0.54);
}

.avatar {
  border-radius: 200px;
  height: 300px;
}

.avatar-container {
  min-width: 500px;
  text-align: center;
}
.avatar-container div {
  margin-top: 20px;
}
.tabla {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.cv {
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
  transition: 1s;
}

.cv a {
  text-decoration: none;
  color: white;
}

.cv:hover {
  color: #43ed83;
}

.github_act{
  max-width: 1000px;
  padding: 0;
}

@media (max-width:1000px){
  .tabla {
    flex-direction: column;
  }
  .avatar-container div {
    margin-bottom: 20px;
  }
  .github_act{
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width:520px){
  .avatar-container{
    min-width: auto;
  }
  .avatar-container img{
      max-width: 95%;
      height: auto;
  }
}